#footer
  background: color-footer-background
  padding: 16px 0
  color: color-grey
  a
    color: color-link
    text-decoration: none
    &:hover
      text-decoration: underline

#footer-info
  font-size: font-size